@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/pagination";

@theme {
  --color-primary-DarkBlue: #043873;
  --color-primary-LightBlue: #4F9CF9;
  --color-secondary-yellow: #FFE492;
  --color-secondary-blue: #A7CEFC;
  --color-secondary-white: #FFFFFF;
  --color-secondary-black: #212529;

  --font-inter: "Inter", sans-serif;
}

.swiper-pagination-bullet {
	@apply w-3 h-3 rounded-full bg-primary-LightBlue opacity-100;
	margin: 0 6px !important;
	}
	.swiper-pagination-bullet-active {
	@apply w-3 h-3 bg-primary-DarkBlue;
}

@layer base {
  * {
    @apply font-inter;
  }
}

@layer components {
	.p1 {
		@apply text-2xl
	}
	.p2 {
		@apply text-[18px] font-light
	}
	.p3 {
		@apply font-light text-[16px] leading-tight
	}
	.h3 {
		@apply text-[54px]
	}
	.h4 {
		@apply font-bold text-[37px]
	}
	.h5 {
		@apply font-bold text-3xl
	}
	.pricePlanCard {
		@apply bg-primary-DarkBlue rounded-xl p-5 font-inter text-secondary-white flex flex-col gap-5 mb-20
	}
	.pricePlanButton {
		@apply bg-primary-LightBlue text-secondary-white
	}
	@variant md {
		/*price plan cards non-active on medium screens*/
		.pricePlanCard {
			@apply py-18 px-12
		}
		.pricePlan .swiper-slide .pricePlanCard {
			@apply bg-secondary-white text-secondary-black border border-amber-200 scale-90
		}
		.pricePlan .swiper-slide .pricePlanButton {
			@apply bg-secondary-white border border-amber-200 text-secondary-black
		}
		.pricePlan .swiper-slide img {
			@apply grayscale brightness-0
		}
		/*price plan cards active on medium screens*/
		.pricePlan .swiper-slide-active .pricePlanCard {
			@apply bg-primary-DarkBlue text-secondary-white border-0 scale-100
		}
		.pricePlan .swiper-slide-active .pricePlanButton {
			@apply bg-primary-LightBlue border-0 text-secondary-white
		}
		.pricePlan .swiper-slide-active img {
			@apply filter-none
		}
		.pricePlan .swiper-slide-active .pricePlanPrice {
			@apply text-amber-200
		}

		.md\:p1 {
			@apply text-2xl
		}
		.md\:p2 {
			@apply text-[18px] font-light
		}
		.md\:p3 {
			@apply font-light text-[16px] leading-tight
		}
		.md\:h3 {
		@apply text-[54px]
		}
		.md\:h4 {
			@apply font-bold text-[37px]
		}
		.md\:h5 {
			@apply font-bold text-3xl
		}
	}

}