@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/pagination";

@theme {
  --color-primary-DarkBlue: #043873;
  --color-primary-LightBlue: #4F9CF9;
  --color-secondary-yellow: #FFE492;
  --color-secondary-blue: #A7CEFC;
  --color-secondary-white: #FFFFFF;
  --color-secondary-black: #212529;

  --font-inter: "Inter", sans-serif;
}

.swiper-pagination-bullet {
	@apply w-3 h-3 rounded-full bg-primary-LightBlue opacity-100;
	margin: 0 6px !important;
	}
	.swiper-pagination-bullet-active {
	@apply w-3 h-3 bg-primary-DarkBlue;
}

@layer base {
  * {
    @apply font-inter;
  }
}

@layer components {
	.p1 {
		@apply text-2xl
	}
	.p2 {
		@apply text-[18px] font-light
	}
	.p3 {
		@apply font-light text-[16px] leading-tight
	}
	.h4 {
		@apply font-bold text-[37px] md:text-[54px]
	}
	.h5 {
		@apply font-bold text-3xl
	}
}

@layer utilities {
	.flexCol {
		@apply flex flex-col;
	}
	.flexRow {
		@apply flex flex-row;
	}
}